#pyt {
    width:24px;
    height: 24px;
}
.tooltip{
    width:400px;
    font-size:10pt;
}

body{
    font-family: 'Lato', sans-serif;
}
.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
    font-family: 'Lato', sans-serif;  margin-bottom:-15px;
}
.navbar-brand {float:none; font-family: 'Lato', sans-serif; }