<div class="container" xmlns:height="http://www.w3.org/1999/xhtml">

    <div class="col-md-2"></div>
    <div class="col-md-8">
        {{message}}
        Liczba dt: <input type="number" step="any" class="form-control"
               ng-model="dt" ng-change="pokazWykresy()"/>
        <br />
        Liczba n: <input type="number" step="any" class="form-control"
                          ng-model="n" ng-change="pokazWykresy()"/>
        <br/>

        <br/> Dokumentacja slidera tutaj: https://github.com/angular-slider/angularjs-slider


        <div>
            R:<rzslider rz-slider-model="sliderR"  rz-slider-options="{onChange:sliderChange, id: 1}"></rzslider>
        </div>
        <br/>
        <div>
            L:<rzslider rz-slider-model="sliderL"  rz-slider-options="{onChange:sliderChange, id: 2, floor: 0.000, ceil: 1.000, step: 0.001, precision: 4}"></rzslider>
        </div>
        <br />
        <div>
            Uz:<rzslider rz-slider-model="sliderUz"  rz-slider-options="{onChange:sliderChange, id: 3}"></rzslider>
        </div>

        <!--<br/>Przedziałowy-->
        <!--<br/>-->
        <!--<rzslider-->
                <!--rz-slider-model="slider.value"-->
                <!--rz-slider-options="slider.options"></rzslider>-->
        <!--<br/>-->
        <!--<p ng-repeat="zm in wyniki">-->
            <!--<br/>{{zm.wartosc}}-->
        <!--</p>-->
        <!--<br/>-->
        <!--Tablica X:-->
        <!--<br/>-->
        <!--<p ng-repeat="zm in tabNewX">-->
            <!--<br/>{{zm.wartosc}}-->
        <!--</p>-->
        <br/>
        <canvas id="line" class="chart chart-line" chart-data="data"
                chart-labels="labels" chart-series="series" chart-options="options"
                chart-dataset-override="datasetOverride" chart-click="onClick">
        </canvas>
    </div>
    <div class="col-md-2"></div>
</div>